table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
    margin-bottom: 60px;
  
  }

  td, th {
    border: 2px solid white;
    text-align: center;

  }

  th {
    background-color: rgba(3, 27, 78, 0.822);
    padding: 8px;
    color: white;

  }

  td {

    border-bottom: 0px;
    padding: 2px;

  }
  tr:first-child th:first-child {
    border-top-left-radius: 15px;
  }
  tr:first-child th:last-child {
    border-top-right-radius: 15px;
  }
  tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
  }
  tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
  }
.btn{
  font-weight: bold;
}
.btnAdmitsubmit{
  background-color:#004a86;
  padding: 2px 17px;
  gap: 10px;

  width: 190px;
  height: 38px;
  left: 534px;
  margin-top: 0px;
  margin-left: 30px;
  
  border-radius: 8px;

}
.btn-danger{
padding: 2px 17px;
gap: 10px;


width: 86px;
height: 28px;
left: 604px;
top: 524px;


border-radius: 4px;
background-color: #A70000;
}

  
 .success{
  width: 100px;
  height: 35px;
  border: none;
  background-color: rgb(0, 117, 20);
 }
 .success:hover{
  background-color: rgb(0, 82, 14);
 }
.Deletebtn{
  width: 100px;
  height: 35px;
  border: none;
  background-color: rgb(192, 0, 0);
}
.Deletebtn:hover{
  background-color: #7a0000;
}
 .AdminContain{
  margin-top: 20px;
  max-width: 1000px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border: 1.5px solid rgb(0, 94, 131);
  border-radius: 20px;
  box-shadow: 0px 0px 5px 2px rgba(145, 145, 145, 0.2);
 }
 .custom-file-upload input[type="file"] {
  display: none;
}
.custom-file-upload label {
  padding: 7px 10px;
  background-color: #002e72;
  border: 1px solid #0400e4;
  border-radius: 5px;
  height: 40px;
  color: white;
  cursor: pointer;
  
}
.custom-file-upload label:hover {
  
}
