@import url('https://fonts.googleapis.com/css2? family=Poppins:wight@400;600 &display=swap');
* {
    margin: 0;
    padding: 0;
  box-sizing: border-box;

}
.body {
    background-image: url(../img/23344.jpg);
    
    background-repeat: no-repeat;
  background-size: cover;
  
}
.don{
    margin-top: 30px;
   margin-left: 15px;
}
.logincontainer{
   
    padding: 25px 30px;
  border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.login {
    width: 850px;
    min-height: 450px;
    overflow: hidden;
    display: flex; 
background: rgba(255, 255, 255, 0.74);
box-shadow: -1px 9px 32px rgba(0, 0, 0, 0.15);
border-radius: 34px;
    
}

.content img {
    width: 130%;
height: 130%px;
margin-top: 10px;
margin-right: 10px;

}


.content{
    flex-basis: 50%;
    background: rgba(255, 255, 255, 0.2);
    font-family: poppins;
    padding: 25px;
}
.content .input-box{

    height: 45px;
    width: 100%;
}
/*
.content h1{
    text-align: center;
    margin-top: 25px;
    margin-left: 50px;
width: 286px;
height: 50px;
left: 724px;
top: 196px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 48px;
text-align: center;

color: #035297;

}
.tbox {
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px 169px 10px 20px;
margin: 30px;
width: 362px;
height: 45px;
left: 691px;
top: 362px;

background: #FFFFFF;
box-shadow: 0px 2px 6px rgba(80, 80, 80, 0.15);
border-radius: 9px;

}
.tbox input {
    background: transparent;
    width: 98%;
    outline: none;
    border: 0;
    padding-left: 5px;
}

.tbox details {
    display: block;
    font-weight: 500;
}
::placeholder{
    

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;

color: #BABABA;
}

*/
/*Responsive Design */



.logincontainer .title{
    text-align: center;
    margin-top: 4%;
    margin-bottom: 20px;

    margin-left: 55px;
width: 286px;
height: 50px;
left: 724px;
top: 196px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 48px;
text-align: center;

color: #035297;
}


.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50%;
}
form .user-details .input-box{

    margin-top: px;
    margin-left: 10%;
    margin-right: 10%;
    
  margin-bottom: 20px;
  width: calc(100% / 1 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 600;
color: #00427a;

  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #e4e4e4;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  background: #FFFFFF;
box-shadow: 0px 2px 6px rgba(100, 100, 100, 0.2);
border-radius: 9px;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #0570ad;
}

 
 ::placeholder{ 

    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    color: #BABABA;
    }

    .logbtn{
        border: #e4e4e4;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 8px 122px;
        color: #fafafa;
        margin-left: 30%;
        margin-top: 40px;
        background: #035297;
        border-radius: 14px;
    }
    .logbtn:hover
    {
        background: #003666;
        color: #fafafa;
    }

    .error-messageuserid{
      font-size: 15px;
      margin-bottom: -23px;
      margin-left:72%;
      color: red;
      font-weight: 600;
    }
    .error-messagepassowrd{
      font-size: 15px;
      margin-bottom: -22px;
      margin-left:65%;
      color: red;
      font-weight: 600;
    }
    @media(max-width: 768px){
        .login {
          flex-direction: column;
          margin: 0 20px;
        }
        form .user-details .input-box{
          margin-left: 2%;
          margin-right: 70%;
        }
        .input-box{
          width: 5%;
          margin-right: 110%;
        }
        .logbtn{
          margin-left: 4%;
        }
       
      }