@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

.color {
    font-family: 'Poppins', sans-serif;
    color: black;
    
    font-weight: bold;
  }
  p{
    font-size: 20px;
  }
  .head {
    color: rgb(2, 68, 126);
  }
  .nav-link:hover {
    color: rgb(2, 68, 126);
  }
  
  