.headbutton {
  display: flex;
}

.subMyapprovals {
  flex: 11;
  width: 80%;
  padding-bottom: 3rem;
  padding-left: 1rem;
  color: #043397;

}
.btnBack {
  flex: 1;
  height: 35px;
  color: #ffffff;
  background-color: #043397;
  border-radius: 10px;
}


.BtnApproveReject{
  margin: 0.5rem auto 1.5rem;
  padding: 0.5rem 0.5rem 0.1rem 1.5rem ;
}
.btnApprove{
  height: 35px;
  width: 125px;
  color: #ffffff;
  background-color: #187c2e;
  border-radius: 10px;
  border-color: #187c2e;
}
.btnReject{
  height: 35px;
  width: 125px;
  color: #ffffff;
  background-color: #a02020;
  border-radius: 10px;
  border-color: #a02020;
}


.ApprovedTab {
  font-size: 16px; /* change font size */
  width: auto;
  height: auto;
  min-height: 400px;
  background: #20b834;
  margin: 0.5rem auto 1.5rem;
  padding: 2rem 1rem;
  border-radius: 1.5rem;
}

.PendingTab {
  font-size: 16px; /* change font size */
  width: auto;
  height: auto;
  min-height: 400px;
  background: #abc70d;
  margin: 0.5rem auto 1.5rem;
  padding: 2rem 1rem;
  border-radius: 2rem;
}

.RejectedTab {
  font-size: 20px; /* change font size */
  width: auto;
  height: auto;
  min-height: 400px;
  background: #b84619;
  margin: 0.5rem auto 0.5rem;
  padding: 2rem 1rem;
  border-radius: 2rem;
}

.table th {
  
  background-color: #050c72; /* change heading row color */
  color: #ccc;
}

.ApprovalView {
  
  width: 80px;
  height: 35px;
  margin: 0.5rem auto 0.5rem;
  background-color: #00b126;
}
.ApprovalView:hover{
  background-color: #187c2e;
}

.btnViewPhotos{
  border: 1px solid #000000;
  width: 100px;
  height: 35px;
  color: #000000;
  margin: 0.5rem auto 0.5rem;
  background-color: #043397;
  border-radius: 8px;
}

.table {
 background-color: #bebebe;
 border-radius: 1rem;
 
 border-collapse: separate;
}

.image{
  height: 10px;
 }







/* My Approval Page Styles */
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.row {
  display: flex;
}

.Ref {
  flex: 5;
  height: 32px;
  background-color: #021166;
  text-align: center;
  color: #ffffff;
  border-radius: 2rem;
  margin-right: 100px;
}

.itemdetails {
  flex: 1;
  height: 32px;
  text-align: center;
  background-color: #9fdbfc;
  color: #000000;
  border-radius: 2rem;
  margin-left: 100px;
}

.imageframe{
  width: 90%;
  color: #021166 ;
  border-radius: 2rem;
  border: 1px solid #000000;
  padding: 2.5rem;
}


.rawData1{
  width: 90%;
  color: #021166 ;
  border-radius: 2rem;
  border: 1px solid #000000;
  margin: 2.5rem auto 1.5rem;
  padding: 1.5rem;
}

.rawDataItemSerial{
  flex: 1;
}
.rawDataReturnable{
  flex: 1;
}
.rawDataImage{
  flex: 2;
}
.rawDataButton{
  flex: 0.5;
}

.rawData{
  width: 90%;
  color: #021166;
  border-radius: 2rem;
  border: 1px solid #000000;
  margin: 0.1rem auto 1.5rem;
  padding: 1.5rem;
}




/* ---------------------My Approval page--------------------- */

h4{
  font-size: 15px;
  font-weight: bold;
  margin-left: 140px;
  margin-top: 20px;
}

.title{
  font-size: 20px;
  font-weight: 600;
  color: rgb(0, 94, 131);
}

h7{
  position: relative;
  margin-left: 140px;
  top: -13px;
  font-size: 12px;
}

/* Tab Content Styles */
.TabContent {
  font-size: rem;
  text-align: center;
}
 /* Tab Navigation */
 ul.nav {
  position: relative;
  width: 50%;
  height: 40px;
  display: flex;
  align-items: center;
  color: #000000;
  font-size: 17px;
  font-weight: bold;
  justify-content: space-between;
  border: 1px solid #39A2DB;
  border-radius: 10px;
  @media (max-width: 768px) {
    width: 90%;
  }
}
ul.nav li {
  width: 33.3%;
  padding: 6px;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
}
ul.nav li:first-child {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
 
ul.nav li:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
ul.nav li:hover {
  background: rgba(0, 0, 0, 0.15);
}
ul.nav li.active {
  color: #fff;
  background: #0f8acc;
}
/* Tab Container */
.myapprovals {
  max-width: 1000px;
    width: 100%;
  
  border: 1px solid #000000;
  margin: 0.5rem auto 1.5rem;
  background: #fff;
    padding: 25px 30px;
    border: 1.5px solid rgb(0, 94, 131);
    border-radius: 20px;
    box-shadow: 0px 0px 5px 2px rgba(145, 145, 145, 0.2);
 
}

/* -------------------------- Table Css -------------------- */

td th {
  border: none;

}

th {
  background-color: rgba(3, 27, 78, 0.822);
  padding: 8px;
  color: white;
 
}

td {

  border-bottom: 0px;
  padding: 2px;
  
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}


tr:first-child th:first-child {
border-top-left-radius: 15px;
}
tr:first-child th:last-child {
border-top-right-radius: 15px;
}
tr:last-child td:first-child {
border-bottom-left-radius: 15px;
}
tr:last-child td:last-child {
border-bottom-right-radius: 15px;
}