table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
   
    
  }
  
  .Approval {
    font-weight: bold;
  }
  
  .Approval.Approve {
    color: green;
  }
  
  .Approval.Pending {
    color: orange;
  }
  
  .Approval.Rejected {
    color: red;
  }

  td, th {
    border: 2px solid white;
    text-align: center;
  
  }

  th {
    background-color: rgba(3, 27, 78, 0.822);
    padding: 8px;
    color: white;
   
  }

  td {

    border-bottom: 0px;
    padding: 2px;
    
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }


tr:first-child th:first-child {
  border-top-left-radius: 15px;
}
tr:first-child th:last-child {
  border-top-right-radius: 15px;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 15px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 15px;
}

  button {

  background-color: #03b621; /* Green */
  border: none;
  color: white;
  padding: 6px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  border-radius: 12px;
  
  

  }


  /* Conainer Rows and Column */

  .MyRequest-Container{
    display: grid;
    margin-top: 7px;
    
    grid-template-rows: 6% 70% ;
    padding-left:16%;
    padding-right: 16%;
  }
  .WelcomeMyRequest p{
    margin-left: 10px;
    margin-top: -6px;
    color: rgb(0, 96, 141);
    font-size: 10px;
    font-weight: 500;
  }
 
  .WelcomeItemTracker h2{
    font-size: 15px;
    
    
    font-weight: 600;
  }
  h2{
    color:rgb(0, 165, 22);
    margin-left: 10px;
   font-size: 15px;
   font-weight: bold;
   margin-top: 5px;
  }
 