body {
  margin: 0;
 
}

.testimonials {
  display: flex;
  align-items: center;
  
  position: relative;
  
  perspective: 100px;
}

.slider-container {
  display: flex;
  width: 300%;
  animation: slide 15s infinite;
}

.slider-image {
  flex: 1 0 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

 .item {
  width: 75px;
  position: relative;
  z-index: 1;
  border-radius: 8px;
  height: 85px; /* set the height to the same value as the width */
  box-sizing: border-box;
  text-align: center;
  object-fit: cover; /* maintain aspect ratio while filling the container */
}

.itemleft{
    margin-right: -20px;
    width: 60px;
    border-radius: 8px;
    height: 70px;
    box-sizing: border-box;
  text-align: center;
  object-fit: cover;
    
}
.itemRight{
    margin-left: -20px;
    width: 60px;
    height: 70px;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
    object-fit: cover;
    z-index: 0;
}




/* My Receipt
  } */

.ReciverContain{
    margin-top: 30px;
    max-width: 1000px;
    width: 100%;
    background: #fff;
    padding: 6px 10px;
    border: 1.5px solid rgb(0, 94, 131);
    border-radius: 15px;
    box-shadow: 0px 0px 5px 2px rgba(145, 145, 145, 0.2);
}
.ReciverContain .title{
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 94, 131);
}
.titleItem{
    display: flex;
    font-size: 17px;
    background: #8de3f8;
    margin-left: 70px;
    margin-top: 20px;
    margin-right: 70px;
    border-radius: 20px;
    padding: 1px 20px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.RefNoTitle{
    font-weight: 400;
    color: #fff;
    margin-left: 2%;
    padding-left: 250px;
    padding-right: 270px;
    border-radius: 30px;
    position: relative;
    background-color: rgb(0, 45, 104);
}

.grid-even-columns {
    margin-left: 40px;
    margin-top: 25px;
    display: grid;
    background: #ffffff;
    margin-right: 40px;
    box-shadow: 0 0 5px 0 rgb(128, 217, 252);
    padding: 13px 25px ;
    border-radius: 14px;
    border: 1px solid #0287f3;;
    grid-template-columns: 3fr 1fr 1fr ;
}
.item-grid{
    margin-top: 10px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: 50% 50% ;
}

.btnview{
    background-color: rgb(0, 81, 134);
    padding: 3px 18px;
    border: none;
    margin-left: 35px;
    color: #fff;
    border-radius: 8px;
    justify-content: center;
    margin-top: 22px;
}
.formtitle{
   color: rgb(0, 85, 119);
   font-weight: bold;
}

.Receivedbtn{
    background: #004491;
    padding: 3px 40px;
    border: none;
    border-radius: 40px;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 40px;
}



  /*------------------------------- new Form open css ------------------------*/
  
  .photo-form {
    display: grid;
    bottom: -200px; /* set initial position below the main form */
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%;
    max-width: auto;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 20px;
    padding: 30px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: bottom 0.3s ease-out; /* animate the bottom property when the form appears */
  }
  
  .photo-form.show {
    bottom: 20px; /* move the form up when it appears */
  }


  .grid-image {
  
    height: 60px;
    width: fit-content;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center;
    width: 120px;
    height: 80px;
  }


  

  